
h1 {
	color: #fff;
	padding: 20px;
	text-align: center;
}

body{
	margin: 0;
	margin-top: -30px;
	height: 100%;
	padding: 0;
	margin-top:;
	background: white;
	font-family: Arial,Verdana;
	/*background-color: #00C4F1;*/



}

.menu-navegacion li.activo a,
.menu-navegacion li:hover a{
	background: #706565;
	border-radius: 70%;
}




/*=.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.=*/
/*=.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.==.=*/

img {
	max-width: 100%;
}

body{
	font-family: 'Lato', sans-serif;
}
a { 
	color: 3B5954 
}

.quitar-float{
	float: none;
}

.espacio-arriba {
	margin-top: 100px 
}

.titulo {
	font-family: 'Merienda One', cursive;
}

.grande {
	font-size: 4em;
}

.subtitulo {
	font-family: 'Pacifico', cursive;
}

.mediano { font-size-adjust: 4em }
.azulclaro {color: 3B5954}
.gris{color:26221D}
.mostaza {color: F2600C}
.marron {color: A62103}

.espacio-derecha {margin-right: 2em }

.no-Lista{
	margin: 0px
	padding: 0px;
}

.no-Lista nav li {
	list-style-type: none;
}

.se-gris{
	background-color: #eee 

}

.padding-largo{
	padding: 5px 10px;

}

.inline-block {
	float: none;
	display: inline-block;

}

a, .azul{

color:3B5954 ;  }


.vete-arriba {
	vertical-align: 
}

.delay{
	animation-delay: 1s;
}