
h1 {
	color: #fff;
	padding: 20px;
	text-align: center;
}

body{
	margin: 0;
	margin-top: -30px;
	height: 100%;
	padding: 0;
	margin-top:;
	background: white;
	font-family: Arial,Verdana;
	/*background-color: #00C4F1;*/



}

/*=.==.==.==.==.==.==.==.==.==.==.==.==.==.==.=*/


.titulo_principal{
	background: #00005F;
}
.menu-navegacion{
	text-align: center;


}
.menu-navegacion ul{
	margin: 10px;
	padding: 10px;
}
.menu-navegacion li{
	display: inline;	
}
.menu-navegacion a{
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	background: #006EB6;
	color: #0052DE;
}
.menu-navegacion li.activo a,
.menu-navegacion li:hover a{
	background: #ccc;
}
.informacion-personal{
	text-align: center;
	margin:50px;
	border-top:2px solid #ccc;
}

.link{
		text-decoration: none;
		font-style: italic;
		font-weight: 900;
		color:darkblue;

}


.quitarlista{
	list-style: none;
}

.circulo{
	border-radius: 50%;
}


.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}
 
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.negritas{
	font-style: bold;
	font-style: verdana;
	font-size: 15px;
}


.interlineado{
	line-height: 2.1
}